@media screen and (max-width: 640px) {
    section {
        flex-direction: column;
    }
    #transfer{
        margin-left: 10%;
        margin-right: 10%;
        height: 900px;
    }
    .mode{
        margin-bottom: 10%;
    }
    .bandeorange{
        margin-left: 10%;
        width: 320px;
    }
    .foot{
        margin-left: 40%;
        text-align: center;
        flex-direction: column;
    }
    #fleche, #flecheb{
        animation: none;
    }
    #copylogo{
        display:inline;
    }
  }